#mint_link {
    width: 100%;
    height: 30em;
    display: flex;
    justify-content: center;display: flex;

}

.button_container {
    background-color:rgba(85, 177, 64, 0.3);
    border-radius: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.main_text {
    font-family: 'PirataOne';
    font-size: 100px;
}



@media only screen and (max-width: 768px) {
    .main_text {
        font-family: 'PirataOne';
        font-size: 40px;
        width: 60%;
    }
    #mint_link {
        margin-bottom: 35%;
    }
    
}

@media only screen and (min-width: 769px) {
    .main_text {
        font-family: 'PirataOne';
        font-size: 50px;
        margin-right: 20%;
    }
    #mint_link {
        margin-bottom: 8%;
    }
}


@media only screen and (min-width: 1200px) {
    .main_text {
        font-family: 'PirataOne';
        font-size: 70px;
        margin-right: 20%;
    }
    #mint_link {
        margin-bottom: 8%;
    }
}

.mint {
    color: #55B140;
}

.secondary_text {
    font-family: 'PirataOne';
    font-size: 30px;
}

.button_mint {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price_container {
    display: flex;
}

.line {
    height: 1px;
    background: rgb(255, 255, 255);
}

.text_total {
    display: flex;
    margin-top: 5px;
    color: #ffffff;
}

.text_price {
    display: flex;
    margin-top: 5px;
    color: #55B140;
    font-weight: 600;
}